<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_planning_root"
              name="&#x30D7;&#x30E9;&#x30F3;&#x30CB;&#x30F3;&#x30B0;"
              web_icon="planning_module,static/description/icon.png"
              sequence="45"/>

    <menuitem id="menu_planning_schedule"
              name="&#x30B9;&#x30B1;&#x30B8;&#x30E5;&#x30FC;&#x30EB;"
              parent="menu_planning_root"
              action="action_planning_slot"
              sequence="10"/>

    <menuitem id="menu_planning_config"
              name="&#x8A2D;&#x5B9A;"
              parent="menu_planning_root"
              sequence="90"/>

    <menuitem id="menu_planning_role"
              name="&#x5F79;&#x5272;"
              parent="menu_planning_config"
              action="action_planning_role"
              sequence="10"/>
</odoo>
